figcaption {color:#BC8F8F;}
fieldset {background-color:#FFF5EE;
               border:0;
        }

.h1 {
       font-style:arial;
       color:#BC8F8F
}

.size {
       width:150;height:150;
       border:"0";
}